*{
  margin: 0;
  padding: 0;
} 

/* Navigation Bar*/


nav{
  background-color:  #22272e;
}

nav a {
  color: white;
}

/* Top Navigation Bar*/

.topNav a{
text-decoration: none;
}


.topNav  {
 display: flex;
 justify-content: space-between;
}




/* Top Left Navigation Bar */

#initLabsLogo{
  height: 70px;
}

.navTopLeft {
  display: flex;
  gap: 20px;      
}

.navTopLeft ul li{
  display: inline-block;
  padding:25px 20px;
}


#navTopLeft{
  display: flex;
}

/* Top Right Navigation Bar*/


#tryInitLabs{
  padding: 10px 25px;
  border-radius: 6px;
  border: none;
  margin: 20px 20px;
}

#seeWhatNew{
  border: 2px solid white;
  background-color: transparent;
   padding: 10px 20px;
  border-radius: 6px;
  color: white;
   margin: 20px 80px 25px 20px;
}


/* Bottom Nav Bar*/

.bottomNav a{
text-decoration: none;
}

.bottomNav ul li{
  list-style: none;
  display: inline-block;
}


