/* *{
  margin: 0;
  padding: 0;
} */

#initLabsLogo{
  height: 70px;
}

.topNav .navTopLeft ul li{
  list-style: none;
  display: inline-block;
}

.topNav  {
 display: flex;
 justify-content: space-between;
}